head {
    color: rgb(226, 168, 43);
}
body{
    background-image: url("C:\Users\lukic\OneDrive\Documents\GitHub\EIA_EiSe22-23\Aufgabe4\Aufgabe3\img\p1..jpg");

}

html {
    font-size: 22px;
}
body {
    background-color: rgb(39, 25, 25);
    color: blanchedalmond;
   
}