.box {
    background-image:url(..\img/p-sun.jpg);
    padding: 100px;
    margin: 100px;
}


ul {
    text-align: right;
    list-style: none;
    margin-top: -35px;
}

ul li {
    display: inline-block;
    padding-left: 10px;
}

ul li:last-child{
    padding-right: 10px;
}